.TodoItem {
    width: 75%;
    height: 75px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:38px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #83a603a6;
    color: rgba(255, 255, 255, 0.808);
}

.TodoItem-p {
    margin:24px 0 24px 24px;
    width:calc(100% - 120px);
    line-height:24px;
    font-size:18px;
    font-weight:bold;
    font-family: Cascadia Code;
}

.TodoItem-p--completed {
    text-decoration:line-through black;
}