.divLoading {
    display: flex;
    position: absolute;
    top: 156px;
    justify-content: center;
    width: 100%;
}

.loading {
    display: flex;
    align-items: center;
    font-family: Source Code Pro;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

@media (max-width: 640px) {
    .divLoading {
        position: absolute;
        top: 0;
    }
}