.CreateTodoButton {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    font-size: xx-large;
    width: 60px;
    height: 60px;
    border: transparent;
    border-radius: 120px;
    cursor: pointer;
    color: #83a603a6;
    box-shadow: 1px 1.5px 1px 1px #83a603a6;
    position: absolute;
    right: 15px;
    top: -105px;
    transform: rotate(0);
    transition: .3s ease;
    }

.CreateTodoButton:hover {
    transform: rotate(360deg);
    color: rgb(66, 184, 42);
    box-shadow: 1px 1px 1px 1px rgb(66, 184, 42);
}

@media (max-width: 640px) {
    .CreateTodoButton {
        z-index: 0;
    }
}