body {

  background-image: linear-gradient(
    to bottom,
    rgba(39, 39, 37, 0.384),
    rgba(33, 95, 25, 0.5)
  ), url("./feriaPark.png");

  background-position: center;
  background-size: cover;

  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  background-color: #88847f86;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  width: 624px;
  height: 81%;
}

/* Hide scrollbar */
#root::-webkit-scrollbar {
  width: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
