.green {
    color: rgb(84, 224, 56);
}

.TodoCounter {
    font-family: Cascadia Code;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 18px 48px 48px 48px ;
    color: rgba(255, 255, 255, 0.808);
};